#books {
    display: grid;
    gap: 1rem;
    padding: 1rem;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-items: center;
}

.card {
    width: 18rem;
}

.card label {
    margin-left: 0.5rem;
}
